**Web scraping and analysis**

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called BeautifulSoup to collect the data from the web. Once you've collected your data and saved it into a local .csv file you should start with your analysis.

**Scraping data from Skytrax**

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use Python and BeautifulSoup to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 39
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews
Scraping page 11
   ---> 1100 total reviews
Scraping page 12
   ---> 1200 total reviews
Scraping page 13
   ---> 1300 total reviews
Scraping page 14
   ---> 1400 total reviews
Scraping page 15
   ---> 1500 total reviews
Scraping page 16
   ---> 1600 total reviews
Scraping page 17
   ---> 1700 total reviews
Scraping page 18
   ---> 1800 total reviews
Scraping page 19
   ---> 1900 total reviews
Scraping page 20
   ---> 2000 total reviews
Scraping page 21
   ---> 2100 total reviews
Scraping page 22
   ---> 2200 total reviews
Scraping page 23
   ---> 2300 total reviews
Scraping page 24
   ---> 2400 total reviews
Scraping page 25
   ---> 2500 total reviews
Scraping page 26
   ---> 2600 total reviews
Scraping page 27
   ---> 2700 total reviews
Scraping page 28
   ---> 2800 total reviews
Scraping page 29
   ---> 2900 total reviews
Scraping page 30
   ---> 3000 total reviews
Scraping page 31
   ---> 3100 total reviews
Scraping page 32
   ---> 3200 total reviews
Scraping page 33
   ---> 3300 total reviews
Scraping page 34
   ---> 3400 total reviews
Scraping page 35
   ---> 3500 total reviews
Scraping page 36
   ---> 3600 total reviews
Scraping page 37
   ---> 3700 total reviews
Scraping page 38
   ---> 3800 total reviews
Scraping page 39
   ---> 3900 total reviews

In [5]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  Not Verified |  An hour's delay due to late ar...
1  ✅ Trip Verified |   I booked through BA becaus...
2  ✅ Trip Verified |   British airways lost bags ...
3  ✅ Trip Verified | The check in process and rew...
4  ✅ Trip Verified |   We flew in November 2023, ...

Using the loops above, I collected 3900 reviews by iterating through the paginated pages on the website. If I want to gather even more data, I can increase the number of pages in the loop.

The next step for me is to clean the data by removing any unnecessary text from each row. For example, phrases like "✅ Trip Verified" can be removed if they exist, as they aren’t relevant to the insights I want to investigate. By cleaning the dataset, I’ll ensure that I focus only on the essential content of each review.

In [6]:
df.shape

(3900, 1)

In [7]:
df

                                                reviews
0     Not Verified |  An hour's delay due to late ar...
1     ✅ Trip Verified |   I booked through BA becaus...
2     ✅ Trip Verified |   British airways lost bags ...
3     ✅ Trip Verified | The check in process and rew...
4     ✅ Trip Verified |   We flew in November 2023, ...
...                                                 ...
3895  Heathrow Marrakech. Had previously travelled o...
3896  LHR-HKG on Boeing 747 - 23/08/12. Much has bee...
3897  Just got back from Bridgetown Barbados flying ...
3898  LHR-JFK-LAX-LHR. Check in was ok apart from be...
3899  HKG-LHR in New Club World on Boeing 777-300 - ...

[3900 rows x 1 columns]

**Removing the parts before | in the reviews column**

In [9]:
df.reviews= df.reviews.str.split('|',expand=True)[1]

In [10]:
df

                                                reviews
0       An hour's delay due to late arrival of the i...
1        I booked through BA because Loganair don’t ...
2        British airways lost bags in LHR then found...
3      The check in process and reward/loyalty progr...
4        We flew in November 2023, but it took this ...
...                                                 ...
3895                                               None
3896                                               None
3897                                               None
3898                                               None
3899                                               None

[3900 rows x 1 columns]